@import "tailwindcss";

@theme {
  --color-primary: #ea5959;
  --color-primary-dark: #e14e4e;
  --color-secondary: #35404d;
  --color-dark-bg: #414a56;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}